/* Main colors */
.prim-clr {
  color: #272935;
}

.scnd-clr {
  color: #414558;
}

.accent-clr {
  color: #a991f7;
}
/* Background Colors */
.bgc-prim {
  background-color: #272935;
}

.bgc-scnd {
  background-color: #414558;
}

.bgc-lg {
  background-color: lightgray;
}

.bgc-wt {
  background-color: white;
}
/* Text Colors */

.txt-prim {
  color: white;
}

.txt-scnd {
  color: black;
}
