/* Reset page */
* {
  background-color: rgb(184, 252, 248);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
/* No text */
a {
  text-decoration: none;
}

/* Logo */
.logo {
  border: none;
  height: 50px;
  width: 50px;
  background-color: aliceblue;
  padding: 2rem;
  align-content: start;
}
/* Button */
.nav-button {
  border: none;
  font-size: 1.2rem;
  color: rgb(192, 90, 31);
  background-color: rgb(192, 90, 31);
  /* width: 8rem;
  padding: 1.6rem; */
  align-self: center;
  justify-content: center;
}
/* Button Hover */
.buttonTr {
  /* transition-duration: 0.2s; */
}
.button:hover {
  background-color: black;
  color: white;
  box-shadow: 1rem;
}
/*Flex*/
.flex-container {
  color: lightblue;
  background-color: lightblue;
  /* gap: 20px; */
  /* flex-direction: row; */
  /* flex-flow: space-between; */
}

.add-flex {
  display: flex;
}

.flex-item {
  padding: 2rem;
  border: 2px black solid;
  margin: 0.7rem;
  color: black;
  background-color: lightgrey;
}

/* Navbar */
.nav-container {
  position: fixed;
  justify-content: space-between;
  border-bottom: black solid 0.1rem;
  height: 5rem;
  width: 100%;
  background-color: rgb(192, 90, 31);
}
/* Placement */
.center {
  align-self: center;
}
/* Sizes */
.head-size {
  font-size: 4rem;
}

.spaceBt {
  align-self: space-evenly;
  background-color: rgb(192, 90, 31);
}

.child {
  display: inline-flex;
  width: 8rem;
  padding: 1.8rem;
  background-color: rgb(192, 90, 31);
  color: black;
}

.childTr {
  transition-duration: 0.2s;
}

.align-self {
  align-self: center;
}

.pos-center {
  position: relative;
  justify-content: center;
}

/* Footer */
.footer-container {
  position: absolute;
  border-top: black solid 0.1rem;
  height: 4rem;
  background-color: rgb(192, 90, 31);
}

.width-100 {
  width: 100%;
}

.margin-1 {
  margin: 1rem;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}
